<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant design Angular</h1>
      </a>
    </div>
    <h3 class="menu-Dashboards">MENU</h3>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Thư mục" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/nhanvien">Quản lý nhân viên</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/monitor">Lương nhân viên</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger " (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>

      <div class="heading">
        <h1>
          <a href="">Home</a>
        </h1>
  
        <div class="menu-heading">
          <a nz-dropdown [nzDropdownMenu]="menu">
            Menu One
            <i nz-icon nzType="caret-down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item nzDanger>4th danger item</li>
            </ul>
          </nz-dropdown-menu>
    
          <a nz-dropdown [nzDropdownMenu]="menu2">
            Menu two
            <i nz-icon nzType="caret-down"></i>
          </a>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-item>3rd menu item</li>
              <li nz-menu-item nzDanger>4th danger item</li>
            </ul>
          </nz-dropdown-menu>

          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu3">
            Menu three
            <i nz-icon nzType="caret-down"></i>
          </a>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-divider></li>
              <li nz-menu-item nzDisabled>disabled menu item</li>
              <li nz-submenu nzTitle="sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li>
            </ul>
          </nz-dropdown-menu>

        </div>

      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>